.App {
  text-align: center;
}

.App-block {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-block__inputted-commands {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.App-block__outputted-commands {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.App-block__input-field {
  height: 25px;
  width: 200px;
  display: flex;
  flex: 1
}

.App-block__input-field--command {
  flex: 1;
  height: 25px;
  border-radius: 5px;
  font-size: 12px;
  font-family: Bahnschrift, Arial, Helvetica, sans-serif;
}